* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
}

main {
    display: flex;
}

#code {
    height: 100%;
    overflow: hidden;
}



#markdown {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    background: white;
    height: 100%;
    overflow: auto;
}

.white-paper{
    height:100%;
    width:50%;
    background:bisque;
    padding:16px;
}

.white-paper.hide{
    display: none;
}





.token.comment {
    color: black;
}

.token.selector {
    color: black;
}

.token.punctuation {
    color: black;
}

.token.property {
    color: black;
}
